@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --navcolor: black;
  --oceancolor: #2196f3;
  --whitecolor: white;
  --slatecolor: #434455;
  --cloudcolor: #f4f4fd;
}

.logo-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  line-height: 1.5px;
}

.logo {
  color: var(--iriscolor);
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.studio {
  color: var(--navyblue);
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.studio-footer {
  color: var(--whitecolor);
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.nav-menu .page {
  color: var(--navcolor);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.list {
  list-style-type: none;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .item:hover,
.contacts-menu .item:focus {
  color: var(--oceancolor);
}

.contacts-menu .item {
  color: var(--navcolor);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-decoration: none;
}

.bg-hero {
  background-color: var(--navyblue);
}

.hero-title {
  color: var(--whitecolor);
  font-size: 50px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: center;
}

.button {
  cursor: pointer;
  border-color: transparent;
  letter-spacing: 0.05em;
  font-family: inherit;
}

.button.primary {
  background-color: var(--oceancolor);
  color: var(--whitecolor);
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.button.filter {
  background-color: var(--cloudcolor);
  color: var(--navcolor);
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.button.primary:hover,
.button.primary:focus {
  background-color: hotpink;
}

.button.filter:hover,
.button.filter:focus {
  background-color: var(--oceancolor);
}

.description.title {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.5;
  color: var(--slatecolor);
}

.section-title {
  text-align: center;
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 900;
  line-height: 1.5;
}

.name {
  color: var(--navyblue);
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.type {
  color: var(--slatecolor);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.bg-footer {
  background-color: var(--navyblue);
}

.footer-description {
  color: var(--cloudcolor);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
