@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --navcolor: black;
  --oceancolor: #2196f3;
  --whitecolor: white;
  --slatecolor: #434455;
  --cloudcolor: #f4f4fd;
}

.link-logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  line-height: 1.5px;
}

.web-logo {
  color: var(--iriscolor);
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.studio-logo {
  color: var(--navyblue);
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.studio-logo2 {
  color: var(--whitecolor);
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.navbar .pages {
  color: var(--navcolor);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.lists {
  list-style-type: none;
}

.navbar .pages:hover,
.navbar .pages:focus,
.navbar .pages.currentoption,
.contact-info .info:hover,
.contact-info .info:focus {
  color: var(--oceancolor);
}

.contact-info .info {
  color: var(--navcolor);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-decoration: none;
}

.bg-section1 {
  background-color: var(--navyblue);
}

.h1-title {
  color: var(--whitecolor);
  font-size: 50px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-align: center;
}

.btn {
  cursor: pointer;
  border-color: transparent;
  letter-spacing: 0.05em;
  font-family: inherit;
}

.btn.primary {
  background-color: var(--oceancolor);
  color: var(--whitecolor);
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.btn.secondary {
  background-color: var(--cloudcolor);
  color: var(--navcolor);
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.btn.primary:hover,
.btn.primary:focus {
  background-color: hotpink;
}

.btn.secondary:hover,
.btn.secondary:focus {
  background-color: var(--oceancolor);
}

.declist.titlelist {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.5;
  color: var(--slatecolor);
}

.sectiontitle {
  text-align: center;
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 900;
  line-height: 1.5;
}

.teamname {
  color: var(--navyblue);
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.position {
  color: var(--slatecolor);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.footerbg {
  background-color: var(--navyblue);
}

.footer-bottom-text {
  color: var(--cloudcolor);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
